@import "mixin";
@import "variables";

.additional {
    width: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        width: $mobilePercent;
        margin: 0 auto;
        padding-bottom: 35px;
        @media (min-width: $tabletWidth) {
            width: 92%;
            padding-bottom: 76px;
        }
        @media (min-width: $desktopWidth) {
            width: $desktopPercent;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 86px;
        }
    }
    &__title {
        @include font(0, 0, 24px, 24px, 0);
        margin: auto;
        padding: 25px 0 35px 5.625%;
        @media (min-width: $tabletWidth) {
            padding-left: 0;
            @include font(0, 0, 36px, 36px, 0);
        }
        @media (min-width: $desktopWidth) {
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include titleBorder;
    }
    .text {
        @include font(1, 0, 16px, 20px, $specialDark);
    }
    &__list {
        display: flex;
        flex-direction: column;
        @media (min-width: $desktopWidth) {
            width: 73.44%;
        }
    }
}
