@import "mixin";
@import "variables";

.additional {
    width: $mobilePercent;
    margin: 0 auto;
    @media (min-width: $tabletWidth) and (max-width: ($desktopWidth - 1px)) {
        width: $tabletPercent;
    }
    @media (min-width: $desktopWidth) {
        width: $desktopPercent;
    }
    padding: 25px 0 35px 0;
    @media (min-width: $tabletWidth) and (max-width: ($desktopWidth - 1px)) {
        padding: 68px 0 76px 0;
    }
    @media (min-width: $desktopWidth) {
        padding: 76px 0 86px 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        @media (min-width: $desktopWidth) {
            flex-direction: row;
        }
    }
    &__title {
        @include font(0, 0, 36px, 36px, 0);
        margin-bottom: 36px;
        @media (min-width: $tabletWidth) and (max-width: ($desktopWidth - 1px)) {
            margin-bottom: 80px;
        }
        @media (min-width: $desktopWidth) {
            margin-bottom: 81px;
        }
    }
    .text {
        @include font(1, 0, 16px, 20px, $specialDark);
    }
}
