@import "mixin";
@import "variables";

.adventages {
    width: $mobilePercent;
    @media (min-width: $tabletWidth) {
        width: $tabletPercent;
    }
    @media (min-width: $desktopWidth) {
        width: $desktopPercent;
    }
    margin: 0 auto;
    .title {
        margin-bottom: 40px;
        @media (min-width: $tabletWidth) {
            margin-bottom: 32px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        @media (min-width: $tabletWidth) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: $desktopWidth) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 49px;
            @media (min-width: $tabletWidth) {
                margin-bottom: 47px;
            }
            @media (min-width: $desktopWidth) {
                margin-bottom: 26px;
            }
        }
        @media (min-width: $tabletWidth) {
            margin-bottom: 37px;
        }
        @media (min-width: $tabletWidth) {
            flex-direction: column;
            align-items: flex-start;
        }
        .text {
            @media (min-width: $tabletWidth) {
                height: 72px;
            }
            &:first-child {
                @media (min-width: $tabletWidth) {
                    width: 201px;
                }
            }
            &:nth-child(2) {
                @media (min-width: $tabletWidth) {
                    width: 227px;
                }
            }
            &:nth-child(3) {
                @media (min-width: $tabletWidth) {
                    width: 209px;
                }
            }
            &:last-child {
                @media (min-width: $tabletWidth) {
                    width: 245px;
                }
            }
            margin-left: 20px;
            @media (min-width: $tabletWidth) {
                margin-left: 0;
            }
        }
    }
    &__icon {
        @media (min-width: $tabletWidth) {
            margin-bottom: 31px;
        }
    }
    &__number {
        display: none;
        @media (min-width: $tabletWidth) {
            @include font(0, 0, 280px, 280px, $baseGrey);
            position: relative;
            top: -40%;
            left: 30%;
            z-index: -10;
        }
    }
}
