@import "mixin";
@import "variables";

html,
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Oswald", sans-serif;
    color: $baseBlack;
    background-color: $baseWhite;
}
a {
    text-decoration: none;
}
