@import "mixin";
@import "variables";

.cards {
    margin: 0 auto;
    @media (min-width: $tabletWidth) {
        width: $tabletPercent;
    }
    @media (min-width: $desktopWidth) {
        width: auto;
    }

    &__item {
        width: 100%;
    }
    &__list {
        @media (min-width: $desktopWidth) {
            margin: 82px auto 71px auto;
            width: $desktopPercent;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 6.5%;
        }
    }
}
