@import "mixin";
@import "variables";

.card {
    background: $baseGrey;
    .text {
        @include font(1, 0, 16px, 16px, $specialDark);
    }
    &__title {
        @include font(0, 0, 20px, 24px, $specialDark);
        text-transform: uppercase;
    }
    &__item {
        border-bottom: $specialGrey 1px solid;
    }
    &--more {
        background: none;
        border: $baseGrey 2px solid;
        .text {
            @include font(1, 0, 16px, 18px, $specialDark);
        }
    }
    &--more &__button {
        @include font(0, 0, 16px, 20px, $specialDark);
        background: $baseGrey;
        text-transform: uppercase;
    }
}
