@import "mixin";
@import "variables";

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: $mobilePercent;
    margin: 19px auto 25px auto;
    @media (min-width: $tabletWidth) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: $baseGrey;
        margin: 0;
    }
    .button {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 13px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @media (min-width: $tabletWidth) {
            width: 76.54%;
            margin-bottom: 40px;
            margin-top: 13px;
            @include font(0, 0, 16px, 20px, $baseWhite);
        }
        @media (min-width: $desktopWidth) {
            width: 73.47%;
        }
    }
    &__list {
        width: 100%;
    }
    .text {
        @include font(1, 0, 12px, 16px, $specialDark);
        @media (min-width: $tabletWidth) {
            @include font(1, 0, 16px, 16px, $specialDark);
        }
    }
    &__title {
        @include font(0, 0, 16px, 20px, $specialDark);
        text-transform: uppercase;
        width: 54.29%;
        margin-bottom: 18px;
        @media (min-width: $tabletWidth) {
            width: auto;
            text-align: center;
            @include font(0, 0, 20px, 24px, $specialDark);
        }
        @media (min-width: $desktopWidth) {
            width: 59.18%;
            margin: 0 auto 21px auto;
        }
    }
    &__item {
        display: flex;
        width: 142px;
        justify-content: space-between;
        @media (min-width: $tabletWidth) {
            margin: 0 auto;
            width: 76.54%;
            justify-content: space-between;
            padding: 5px 0 9px 0;
            border-bottom: $specialGrey 1px solid;
        }
        @media (min-width: $desktopWidth) {
            width: 73.47%;
        }
    }
    img:not(.card__image--more) {
        margin: auto;
        &:nth-child(2n + 1) {
            width: 68px;
            height: 86px;
            @media (min-width: $tabletWidth) {
                width: 161px;
                height: 172px;
            }
        }
        &:nth-child(2n) {
            width: 84px;
            height: 100px;
            @media (min-width: $tabletWidth) {
                width: 168px;
                height: 200px;
            }
        }
        @media (min-width: $tabletWidth) {
            position: relative;
            top: -10%;
        }
        @media (min-width: $desktopWidth) {
        }
    }
    &--more &__button {
        @include font(0, 0, 16px, 20px, $specialDark);
        background: $baseGrey;
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $tabletWidth) {
            margin: 38px;
            width: 76.54%;
        }
        @media (min-width: $desktopWidth) {
            width: 73.47%;
        }
    }
    &--more {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: none;
        @media (min-width: $tabletWidth) {
            border: $baseGrey 2px solid;
        }
        .card__title {
            width: 100%;
            text-align: center;
            margin: 23px 0 8px 0;
            @media (min-width: $tabletWidth) {
                @include font(0, 0, 20px, 22px, $specialDark);
                width: 41.36%;
                margin: 0 0 23px 0;
            }
            @media (min-width: $desktopWidth) {
                width: 54.69%;
            }
        }
        .text {
            @include font(1, 0, 12px, 16px, $specialDark);
            margin-bottom: 21px;
            @media (min-width: $tabletWidth) {
                @include font(1, 0, 16px, 18px, $specialDark);
                width: 51.54%;
                text-align: center;
                margin-bottom: auto;
            }
            @media (min-width: $desktopWidth) {
                width: 68.16%;
            }
        }
        img {
            @media (min-width: $tabletWidth) {
                margin: 52px 0 49px 0;
            }
        }
    }
}
