@import "mixin";
@import "variables";

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $tabletWidth) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktopWidth) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
