@import "mixin";
@import "variables";

.comment {
    padding: 23.57px 0 22.75px 0;
    @media (min-width: $tabletWidth) {
        padding: 65px 0;
    }
    @media (min-width: $desktopWidth) {
        padding: 69px 0 67px 0;
    }
    display: flex;
    justify-content: center;
    &__title {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        @include titleBorder;
        span {
            margin-left: 6.25%;
            @include font(0, 0, 24px, 26px, 0);
            @media (min-width: $tabletWidth) {
                margin-left: 2%;
                width: 50%;
                @include font(0, 0, 36px, 36px, 0);
            }
            @media (min-width: $desktopWidth) {
                width: 25%;
            }
        }
    }
    &__area {
        width: $mobilePercent;
        display: flex;
        border-radius: 0;
        border: $borderColor 1px solid;
        height: 150px;
        resize: none;
        text-transform: uppercase;
        &::placeholder {
            @include font(0, 0, 16px, 18px, $specialDark);
            @media (min-width: $tabletWidth) {
                @include font(0, 0, 20px, 30px, $specialDark);
            }
        }
        padding: 10px 0 0 15px;
        @media (min-width: $tabletWidth) {
            height: 174px;
            width: $tabletPercent;
            padding-left: 19px;
        }
        @media (min-width: $desktopWidth) {
            width: $desktopPercent;
        }
    }
}
