@import "mixin";
@import "variables";
.contacts {
    padding: 39px 0 32px 0;
    @media (min-width: $tabletWidth) {
        width: $tabletPercent;
        padding: 58px 0 55px 0;
    }
    @media (min-width: $desktopWidth) {
        padding: 57px 0 58px 0;
    }
    &__text {
        @include font(1, 0, 16px, 18.4px, $specialDark);
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @media (min-width: $tabletWidth) {
            flex-direction: row;
        }
    }
    &__item {
        width: $mobilePercent;
        border-bottom: $borderColor3 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $tabletWidth) {
            border: none;
        }
        &:first-child svg {
            margin-bottom: 32px;
            @media (min-width: $tabletWidth) {
                margin: 0;
            }
        }
        &:last-child {
            border: none;
        }
    }
    &__academy {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (min-width: $tabletWidth) {
            width: 80%;
            align-items: center;
            margin: 0;
            @include font(1, 0, 16px, 18.4px, $specialDark);
        }
        @media (min-width: $desktopWidth) {
            width: 50%;
        }
    }
    &__links {
        padding: 20px 0;
        width: 40.625%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $tabletWidth) {
            width: 60%;
            padding: 0;
            justify-content: space-between;
        }
        @media (min-width: $desktopWidth) {
            width: 50%;
        }
    }
    width: $mobilePercent;
    margin: 0 auto;
    @media (min-width: $tabletWidth) {
        width: $tabletPercent;
    }
    @media (min-width: $desktopWidth) {
        width: $desktopPercent;
    }
}
