@import "mixin";
@import "variables";
.contact-details {
    &__title {
        display: flex;
        margin-bottom: 35px;
        width: 111%;
        align-items: center;
        @include titleBorder;
        span {
            width: 67%;
            margin-left: 6.25%;
            @include font(0, 0, 24px, 26px, 0);
            @media (min-width: $tabletWidth) {
                margin-left: 2%;
                width: 100%;
                @include font(0, 0, 36px, 36px, 0);
            }
            @media (min-width: $desktopWidth) {
                width: 45%;
            }
        }
    }
    @media (min-width: $tabletWidth) {
        margin-bottom: 76px;
    }
    &__list {
        width: $mobilePercent;
        margin: 0 auto;
        margin-bottom: 23px;
        @media (min-width: $tabletWidth) {
            width: $tabletPercent;
            margin-bottom: 65px;
        }
        @media (min-width: $desktopWidth) {
            width: $desktopPercent;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 5%;
            margin-bottom: 23px;
        }
        display: flex;
        flex-direction: column;
        grid-row-gap: 15px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child {
            &::after {
                content: url("../img/icon_email.svg");
                display: inline-block;
                position: absolute;
                left: 85%;
                @media (min-width: $tabletWidth) {
                    left: 90%;
                }
            }
            input {
                height: 52px;
                width: 75%;
                @media (min-width: $tabletWidth) {
                    width: 88%;
                }
                @media (min-width: $desktopWidth) {
                    width: 84.472%;
                }
            }
        }
        &:last-child {
            &::after {
                content: url("../img/icon_phone.svg");
                display: inline-block;
                position: absolute;
                left: 85%;
                @media (min-width: $tabletWidth) {
                    left: 90%;
                }
                @media (min-width: $desktopWidth) {
                    left: 45%;
                }
            }
            input {
                height: 52px;
                width: 70%;
                @media (min-width: $tabletWidth) {
                    width: 86%;
                }
                @media (min-width: $desktopWidth) {
                    width: 82.039%;
                }
            }
        }
    }
    &__input {
        padding-left: 16px;
    }
}
