@import "mixin";
@import "variables";
.form {
    fieldset:not(.program) {
        border: none;
    }
    input {
        @include pageBorder;
    }
    legend {
        @include font(0, 0, 24px, 26px, 0);
    }
    label,
    input::placeholder {
        @include font(0, 0, 16px, 18px, $specialDark);
        text-transform: uppercase;
    }
}
