@import "mixin";
@import "variables";

.line {
    @media (min-width: $tabletWidth) and (max-width: ($desktopWidth - 1px)) {
        width: 100%;
        height: 1px;
        background: $borderColor2;
    }
}
