@import "mixin";
@import "variables";
.logo {
    display: none;
    &--mobile-text {
        display: block;
    }
    &--mobile-logo {
        display: block;
    }
    @media (min-width: $tabletWidth) {
        display: block;
        &--mobile-text {
            display: none;
        }
        &--mobile-logo {
            display: none;
        }
    }
}
