@import "mixin";
@import "variables";
.map {
    background: $baseWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__container {
        width: $mobilePercent;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    @media (min-width: $desktopWidth) {
        background: $baseGrey;
    }
    &__title {
        @include font(0, 0, 16px, 20px, 0);
        text-transform: uppercase;
    }
    &__image {
        width: 100%;
        order: 2;
        @media (min-width: $tabletWidth) {
            width: 0;
        }
    }
}
