@import "mixin";
@import "variables";
.map {
    background: $baseWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &--not-index {
        background: $baseGrey;
    }
    @media (min-width: $desktopWidth) {
        align-items: flex-start;
    }
    &__container {
        width: $mobilePercent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 56px 0 62px 0;
        @media (min-width: $desktopWidth) {
            position: absolute;
            background: $baseWhite;
            width: 28.125%;
            padding: 56px 5.55%;
            margin-left: 7.64%;
        }
    }
    @media (min-width: $desktopWidth) {
        background: $baseGrey;
    }
    &__text {
        width: 50%;
        @media (min-width: $tabletWidth) {
            width: 25.56%;
            text-align: end;
            @include font(1, 0, 16px, 20px, $specialDark);
        }
        @media (min-width: $desktopWidth) {
            width: 38.27%;
        }
    }
    &__title {
        @include font(0, 0, 16px, 20px, 0);
        text-transform: uppercase;
        width: 50%;
        @media (min-width: $tabletWidth) {
            width: 24.27%;
        }
    }
    &__image {
        width: 100%;
        order: 2;
        @media (min-width: $tabletWidth) {
            width: 0;
        }
    }
    & iframe {
        height: 362px;
        width: 100%;
        @media (min-width: $tabletWidth) {
            height: 400px;
        }
    }
}
