@import "mixin";
@import "variables";

.more {
    &__title {
        margin-bottom: 34px;
        @media (min-width: $tabletWidth) {
            margin-bottom: 57px;
        }
    }
    &__list {
        display: flex;
        @media (min-width: $tabletWidth) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: $desktopWidth) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item {
        &:last-child {
            margin-bottom: 34px;
            @media (min-width: $tabletWidth) {
                margin-bottom: 54px;
            }
            @media (min-width: $desktopWidth) {
                margin-bottom: 61px;
            }
        }
    }
}
