@import "mixin";
@import "variables";
.page-header {
    width: $mobilePercent;
    margin: 10px auto 18px auto;
    @media (min-width: $tabletWidth) {
        width: $tabletPercent;
        margin: 24px auto 0 auto;
    }
    @media (min-width: $desktopWidth) {
        width: $desktopPercent;
        margin: 53px auto 0 auto;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger,
    &__close {
        border: none;
        background: none;
        @media (min-width: $tabletWidth) {
            display: none;
        }
    }
}
