@import "variables";
.page-main {
    .title {
        padding: 27px 0 41px 6.25%;
        border-top: $borderColor3 1px solid;
        border-bottom: $borderColor3 1px solid;
        margin-bottom: 8px;
        @media (min-width: $tabletWidth) {
            border: none;
            padding: 65px 0 82px 4%;
            margin: 0;
        }
        @media (min-width: $desktopWidth) {
            padding: 74px 0 84px 7.64%;
        }
    }
}
