@import "mixin";
@import "variables";
.product {
    &__title {
        @include font(0, 0, 20px, 20px, 0);
        text-transform: uppercase;
    }
    border-top: $specialGrey 1px solid;
    &:last-child {
        border-bottom: $specialGrey 1px solid;
    }
}
