@import "mixin";
@import "variables";
.promo {
    width: 100%;
    background-size: 100% 302px;
    text-align: center;
    @media (min-width: $desktopWidth) {
        min-height: 585px;
    }
    &__background {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 302px;
        background: linear-gradient(
                rgba($baseGreen, 0.85),
                rgba($baseGreen, 0.85)
            ),
            url("../img/cat-background.png") no-repeat;
        background-size: cover;
        @media (min-width: $tabletWidth) {
            background: none;
        }
        @media (min-width: $desktopWidth) {
            position: absolute;
            top: 0;
            width: 50%;
            height: 694px;
            margin: 0 50%;
            background: linear-gradient(
                    rgba($baseGreen, 0.85),
                    rgba($baseGreen, 0.85)
                ),
                url("../img/cat-background-desktop.png") no-repeat;
            background-size: cover;
        }
    }
    .title {
        color: $baseWhite;
        @media (min-width: $tabletWidth) {
            padding-left: 0;
            padding-bottom: 0;
            text-align: left;
            color: $baseBlack;
            @include font(0, 0, 60px, 60px, 0);
            width: 414px;
        }
    }
    .button {
        width: $mobilePercent;
        padding: 7px 0;
        @media (min-width: $tabletWidth) {
            width: max-content;
            padding: 14px 3.38%;
            @include font(0, 0, 20px, 20px, $baseWhite);
            position: absolute;
            top: 35%;
        }
        @media (min-width: $desktopWidth) {
            position: relative;
            top: 0;
        }
    }
    &__text {
        @include font(0, 0, 14px, 14px, $baseWhite);
        text-transform: uppercase;
        margin: 25px 0 29px 0;
        @media (min-width: $tabletWidth) {
            margin: 41px 0 49px 0;
            @include font(0, 0, 20px, 20px, 0);
        }
        @media (min-width: $tabletWidth) {
            margin: 40px 0 52px 0;
        }
    }
    &__container {
        padding: 27px 0 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
        @media (min-width: $tabletWidth) {
            width: 69.5%;
            margin: 0 auto;
            align-items: flex-start;
        }
    }
    &__image {
        width: 100%;
        height: 270px;
        @media (min-width: $tabletWidth) {
            height: 609px;
            width: 708px;
            position: relative;
            left: -15%;
        }
        @media (min-width: $desktopWidth) {
            height: 559px;
            width: 552px;
            position: absolute;
            left: 35%;
            top: 10%;
        }
    }
}
