@import "mixin";
@import "variables";
.promo {
    width: 100%;
    background: linear-gradient(rgba($baseGreen, 0.85), rgba($baseGreen, 0.85)),
        url("../img/cat-backgorund.png");
    background-size: contain;
    padding: 27px 0 20px 0;
    text-align: center;
    .title {
        color: $baseWhite;
    }
    .button {
        padding: 7px 13.75%;
        @media (min-width: $tabletWidth) {
            padding: 14px 3.38%;
        }
    }
    &__text {
        @include font(0, 0, 14px, 14px, $baseWhite);
        text-transform: uppercase;
        margin: 25px 0 29px 0;
    }
}
