@import "mixin";
@import "variables";
.quests {
    &__text {
        @include font(0, 0, 14px, 18px, 0);
        text-transform: uppercase;
        width: 70%;
        margin-bottom: 39px;
        padding-left: 6.25%;
        @media (min-width: $tabletWidth) {
            padding-left: 5%;
            @include font(0, 0, 20px, 30px, 0);
            width: 46.731%;
            margin-bottom: 66px;
        }
        @media (min-width: $desktopWidth) {
            width: 26.667%;
            padding-left: 8%;
        }
    }
}
