@import "mixin";
@import "variables";
.submit {
    &__text {
        @include font(1, 0, 16px, 16px, 0);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $mobilePercent;
    margin: 0 auto;
    grid-row-gap: 21px;
    .button {
        width: 100%;
        height: 40px;
        border: none;
        @media (min-width: $tabletWidth) {
            height: 52px;
            width: 39.83%;
        }
        @media (min-width: $desktopWidth) {
            width: 46.56%;
        }
    }
    padding-bottom: 32px;
    @media (min-width: $tabletWidth) {
        padding-bottom: 72px;
        flex-direction: row;
        grid-column-gap: 61px;
    }
    @media (min-width: $desktopWidth) {
        padding-bottom: 82px;
        grid-column-gap: 81px;
    }
}
