@import "mixin";
@import "variables";
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $tabletWidth) and (max-width: ($desktopWidth - 1px)) {
        background: $baseGrey;
        width: 111.11%;
    }
    &__button {
        @include font(0, 0, 16px, 20px, 0);
        text-transform: uppercase;
    }
}
