@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../fonts/Arial.woff2") format("woff2"), url("../fonts/Arial.woff") format("woff");
}
body {
  font-family: "Oswald", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #68b738;
}

.title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.page ul,
.page ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-menu {
  list-style: none;
  text-align: center;
}
.site-menu__link {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.promo {
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-backgorund.png");
  background-size: contain;
  padding: 27px 0 20px 0;
  text-align: center;
}
.promo .title {
  color: #ffffff;
}
.promo__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 25px 0 29px 0;
}

.item-list {
  padding: 21px 0 18px 0;
  background: #f2f2f2;
}
.item-list__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}
.item-list__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.item-list__link::after {
  content: url("../img/icon_arrow.svg");
}

.example {
  background: #f2f2f2;
}
.example__description {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;
}

.border {
  border: 1px #cdcdcd solid;
}
.border__value {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.slider__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.card {
  background: #f2f2f2;
}
.card .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
.card__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #444444;
  text-transform: uppercase;
}
.card__item {
  border-bottom: #cdcdcd 1px solid;
}
.card--more {
  background: none;
  border: #f2f2f2 2px solid;
}
.card--more .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.card--more .card__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background: #f2f2f2;
  text-transform: uppercase;
}

.additional__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.additional .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.product {
  border: #cdcdcd 1px solid;
}
.product__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.gift {
  text-align: center;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-gift.png");
  background-size: contain;
}
.gift__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.quests__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.form {
  border: none;
}
.form fieldset {
  border: none;
}
.form input {
  border: #e7e7e7 1px solid;
  border-radius: 0px;
}
.form legend {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.form label,
.form input::placeholder {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.submit__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.map__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #444444;
}

.page-footer {
  background: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */