@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../fonts/Arial.woff2") format("woff2"), url("../fonts/Arial.woff") format("woff");
}
html,
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #68b738;
  display: inline-block;
}

.title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
@media (min-width: 708px) {
  .title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 708px) {
  .text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}

.border-none {
  border-bottom: none !important;
}

.border-none--1 {
  border: none !important;
}

.page ul,
.page ol {
  list-style: none;
}

.page-header {
  width: 87.5%;
  margin: 10px auto 18px auto;
}
@media (min-width: 708px) {
  .page-header {
    width: 90%;
    margin: 24px auto 0 auto;
  }
}
@media (min-width: 1240px) {
  .page-header {
    width: 85%;
    margin: 53px auto 0 auto;
  }
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__burger, .page-header__close {
  border: none;
  background: none;
}
@media (min-width: 708px) {
  .page-header__burger, .page-header__close {
    display: none;
  }
}

.logo {
  display: none;
}
.logo--mobile-text {
  display: block;
}
.logo--mobile-logo {
  display: block;
}
@media (min-width: 708px) {
  .logo {
    display: block;
  }
  .logo--mobile-text {
    display: none;
  }
  .logo--mobile-logo {
    display: none;
  }
}

.page-main .title {
  padding: 27px 0 41px 6.25%;
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
  margin-bottom: 8px;
}
@media (min-width: 708px) {
  .page-main .title {
    border: none;
    padding: 65px 0 82px 4%;
    margin: 0;
  }
}
@media (min-width: 1240px) {
  .page-main .title {
    padding: 74px 0 84px 7.64%;
  }
}

.site-menu {
  display: none;
}
@media (min-width: 708px) {
  .site-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 708px) {
  .site-menu {
    width: 62%;
  }
}
@media (min-width: 1240px) {
  .site-menu {
    min-width: 39%;
    max-width: 45%;
  }
}
.site-menu__link {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 707px) {
  .site-menu__link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 708px) {
  .site-menu__link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1240px) {
  .site-menu__link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    position: sticky;
    z-index: 10000;
  }
}
@media (min-width: 1240px) {
  .site-menu__link--black {
    color: #000000;
  }
}
.site-menu__item {
  padding: 22px 0 24px 0;
  border-top: #e6e6e6 1px solid;
}
@media (min-width: 708px) {
  .site-menu__item {
    padding: 0;
    border: none;
    padding-bottom: 8px;
  }
}
@media (min-width: 708px) {
  .site-menu__item--active {
    border-bottom: #68b738 2px solid;
  }
}
@media (min-width: 1240px) {
  .site-menu__item--active {
    border-bottom: #ffffff 2px solid;
    position: sticky;
    z-index: 100000;
  }
}
@media (min-width: 1240px) {
  .site-menu__item--black {
    border-bottom: #68b738 2px solid;
  }
}
@media (max-width: 707px) {
  .site-menu--mobile {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 70px;
    right: 0;
  }
}

.promo {
  width: 100%;
  background-size: 100% 302px;
  text-align: center;
}
@media (min-width: 1240px) {
  .promo {
    min-height: 585px;
  }
}
.promo__background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 302px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background.png") no-repeat;
  background-size: cover;
}
@media (min-width: 708px) {
  .promo__background {
    background: none;
  }
}
@media (min-width: 1240px) {
  .promo__background {
    position: absolute;
    top: 0;
    width: 50%;
    height: 694px;
    margin: 0 50%;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-background.png") no-repeat;
    background-size: cover;
  }
}
.promo .title {
  color: #ffffff;
}
@media (min-width: 708px) {
  .promo .title {
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
    color: #000000;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 414px;
  }
}
.promo .button {
  width: 87.5%;
  padding: 7px 0;
}
@media (min-width: 708px) {
  .promo .button {
    width: max-content;
    padding: 14px 3.38%;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }
}
.promo__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 25px 0 29px 0;
}
@media (min-width: 708px) {
  .promo__text {
    margin: 41px 0 49px 0;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}
@media (min-width: 708px) {
  .promo__text {
    margin: 40px 0 52px 0;
  }
}
.promo__container {
  padding: 27px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
@media (min-width: 708px) {
  .promo__container {
    width: 69.5%;
    margin: 0 auto;
    align-items: flex-start;
  }
}
@media (min-width: 708px) {
  .promo__image {
    order: 4;
    position: relative;
    z-index: -10;
    left: 30%;
  }
}
@media (min-width: 1240px) {
  .promo__image {
    left: 40%;
  }
}

.cards {
  margin: 0 auto;
}
@media (min-width: 708px) {
  .cards {
    width: 90%;
  }
}
@media (min-width: 1240px) {
  .cards {
    width: auto;
  }
}
.cards__item {
  width: 100%;
}
@media (min-width: 1240px) {
  .cards__list {
    margin: 82px auto 71px auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.5%;
  }
}

.item-list {
  background: #f2f2f2;
  width: 87.5%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 21px 0 18px 22px;
}
@media (min-width: 708px) {
  .item-list {
    padding: 77px 0 53px 80px;
  }
}
@media (min-width: 1240px) {
  .item-list {
    padding: 41px 0 55px 52px;
    margin: 0;
  }
}
.item-list__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 708px) {
  .item-list__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
  }
}
.item-list__link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 0 18px 0;
}
@media (min-width: 708px) {
  .item-list__link {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
}
.item-list__link::after {
  content: url("../img/icon_arrow.svg");
  margin-left: 15px;
}
@media (min-width: 708px) {
  .item-list__link::after {
    margin-left: 25px;
  }
}
@media (min-width: 1240px) {
  .item-list__link::after {
    margin-left: 28px;
  }
}
.item-list .text {
  margin: 22px 0 23px 0;
  width: 81%;
}
@media (min-width: 708px) {
  .item-list .text {
    margin: 24px 0 48px 0;
    width: 48%;
    color: #000000;
  }
}
@media (min-width: 1240px) {
  .item-list .text {
    width: 82%;
    height: 72px;
  }
}
@media (min-width: 1240px) {
  .item-list .text:last-child {
    width: 80%;
  }
}
.item-list__line {
  width: 85.7%;
  height: 1px;
  background: #d9d9d9;
  margin-bottom: 15px;
}
@media (min-width: 708px) {
  .item-list__line {
    display: none;
  }
}
.item-list__item--order {
  display: flex;
  align-items: center;
}
@media (min-width: 708px) {
  .item-list__item--order img {
    display: none;
  }
}
.item-list__icon {
  margin-right: 19px;
}
.item-list__icon:last-child {
  margin-right: 11px;
}
@media (min-width: 708px) {
  .item-list__icon {
    margin-right: 0;
  }
}

.adventages {
  width: 87.5%;
  margin: 0 auto;
}
@media (min-width: 708px) {
  .adventages {
    width: 90%;
  }
}
@media (min-width: 1240px) {
  .adventages {
    width: 85%;
  }
}
.adventages .title {
  margin-bottom: 40px;
}
@media (min-width: 708px) {
  .adventages .title {
    margin-bottom: 32px;
  }
}
.adventages__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 708px) {
  .adventages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1240px) {
  .adventages__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.adventages__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}
.adventages__item:last-child {
  margin-bottom: 49px;
}
@media (min-width: 708px) {
  .adventages__item:last-child {
    margin-bottom: 47px;
  }
}
@media (min-width: 1240px) {
  .adventages__item:last-child {
    margin-bottom: 26px;
  }
}
@media (min-width: 708px) {
  .adventages__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.adventages__item .text {
  margin-left: 20px;
}
@media (min-width: 708px) {
  .adventages__item .text {
    height: 72px;
  }
}
@media (min-width: 708px) {
  .adventages__item .text:first-child {
    width: 201px;
  }
}
@media (min-width: 708px) {
  .adventages__item .text:nth-child(2) {
    width: 227px;
  }
}
@media (min-width: 708px) {
  .adventages__item .text:nth-child(3) {
    width: 209px;
  }
}
@media (min-width: 708px) {
  .adventages__item .text:last-child {
    width: 245px;
  }
}
@media (min-width: 708px) {
  .adventages__item .text {
    margin-left: 0;
  }
}
@media (min-width: 708px) {
  .adventages__icon {
    margin-bottom: 31px;
  }
}
.adventages__number {
  display: none;
}
@media (min-width: 708px) {
  .adventages__number {
    display: inline-block;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 280px;
    line-height: 111px;
    color: #f2f2f2;
    position: relative;
    top: -40%;
    left: 30%;
    z-index: -10;
  }
}
@media (min-width: 1240px) {
  .adventages__number {
    line-height: 37px;
  }
}

@media (min-width: 708px) and (max-width: 1239px) {
  .line {
    width: 100%;
    height: 1px;
    background: #e6e6e6;
  }
}

.example {
  width: 100%;
  background: #f2f2f2;
  padding: 25px 0 40px 0;
}
@media (min-width: 708px) and (max-width: 1239px) {
  .example {
    background: #ffffff;
  }
}
.example__description {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 708px) {
  .example__description {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}
@media (min-width: 708px) {
  .example {
    padding: 43px 0 0 0;
  }
}
@media (min-width: 1240px) {
  .example {
    padding: 0;
    padding-bottom: 75px;
  }
}
.example__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 87.5%;
  margin: 0 auto;
}
@media (min-width: 1240px) {
  .example__container {
    flex-direction: row;
  }
}
@media (min-width: 708px) {
  .example__container {
    width: 90%;
  }
}
@media (min-width: 1240px) {
  .example__container {
    width: 85%;
  }
}
.example__sublist {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 708px) {
  .example__sublist {
    justify-content: flex-start;
    margin-bottom: 250px;
  }
}
@media (min-width: 1240px) {
  .example__sublist {
    margin-bottom: 0;
  }
}
.example__subitem {
  display: none;
}
@media (min-width: 708px) and (max-width: 1239px) {
  .example__subitem {
    display: inline-block;
    margin-left: auto;
    text-align: end;
    align-self: center;
  }
}
.example__text {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media (min-width: 708px) and (max-width: 1240px) {
  .example__text {
    display: none;
  }
}
@media (min-width: 1240px) {
  .example__text {
    margin-top: 55px;
    justify-content: flex-start;
  }
}
.example__text p:first-child {
  margin-right: 5.16%;
}
.example .title {
  width: 87.5%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 708px) {
  .example .title {
    width: 90%;
  }
}
@media (min-width: 1240px) {
  .example .title {
    width: 85%;
  }
}
@media (min-width: 708px) {
  .example .title {
    margin-bottom: 63px;
  }
}
@media (min-width: 1240px) {
  .example .title {
    padding-top: 69px;
    padding-bottom: 76px;
  }
}
.example .text {
  margin-bottom: 20px;
}
@media (min-width: 708px) {
  .example .text {
    margin-bottom: 63px;
  }
}
@media (min-width: 1240px) {
  .example .text {
    margin-bottom: 69px;
    width: 47%;
  }
}
@media (min-width: 1240px) {
  .example__white {
    background: #ffffff;
  }
}

.border {
  text-align: center;
  border: 1px #cdcdcd solid;
  width: 44%;
}
@media (min-width: 708px) {
  .border {
    width: 23%;
  }
}
@media (min-width: 1240px) {
  .border {
    width: 13.28%;
  }
}
.border:first-child {
  margin-right: 6%;
}
.border__value {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 15px;
}
.border .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  position: relative;
  margin: 0 auto;
  top: 30%;
  background: #f2f2f2;
  width: 77px;
}
@media (min-width: 708px) {
  .border .text {
    background: #ffffff;
    top: 25%;
  }
}
@media (min-width: 1240px) {
  .border .text {
    background: #f2f2f2;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 708px) and (max-width: 1239px) {
  .slider {
    background: #f2f2f2;
    width: 111.11%;
    height: 462px;
  }
}
.slider__buttons {
  display: flex;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 15px;
}
@media (min-width: 708px) {
  .slider__buttons {
    display: none;
  }
}
.slider__click {
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  width: 85px;
  height: 12px;
  display: flex;
  background: #ffffff;
  align-self: center;
  margin: 0 13px;
}
.slider__toggler {
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
  display: block;
}
.slider__margin-1 {
  margin: auto auto auto 6px;
}
.slider__margin-2 {
  margin: auto 6px auto auto;
}
.slider__range {
  display: none;
}
@media (min-width: 708px) {
  .slider__range {
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 708px) {
  .slider__input {
    -webkit-appearance: none;
    appearance: none;
    background: #dcdcdc;
    height: 6px;
    width: 426px;
    border-radius: 6px;
    margin: 0 13px;
  }
}
.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background: #68b738;
  border: 13px #ffffff solid;
  box-shadow: 0px 1px 3px 0px #00000029;
  box-sizing: border-box;
}
@media (min-width: 708px) {
  .slider__image--second {
    display: none;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 708px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
    column-gap: 6.25%;
    row-gap: 141px;
  }
}
@media (min-width: 1240px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    column-gap: 6.37%;
    row-gap: 144px;
  }
}
.catalog__line {
  width: 100%;
  height: 1px;
  background: #d9d9d9;
}
@media (min-width: 708px) {
  .catalog__line {
    display: none;
  }
}

.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 87.5%;
  margin: 19px auto 25px auto;
}
@media (min-width: 708px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #f2f2f2;
    margin: 0;
  }
}
.card .button {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 708px) {
  .card .button {
    width: 76.54%;
    margin-bottom: 40px;
    margin-top: 13px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
@media (min-width: 1240px) {
  .card .button {
    width: 73.47%;
  }
}
.card__list {
  width: 100%;
}
.card .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 708px) {
  .card .text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }
}
.card__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  width: 54.29%;
  margin-bottom: 18px;
}
@media (min-width: 708px) {
  .card__title {
    width: auto;
    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #444444;
  }
}
@media (min-width: 1240px) {
  .card__title {
    width: 59.18%;
    margin: 0 auto 21px auto;
  }
}
.card__item {
  display: flex;
  width: 142px;
  justify-content: space-between;
}
@media (min-width: 708px) {
  .card__item {
    margin: 0 auto;
    width: 76.54%;
    justify-content: space-between;
    padding: 5px 0 9px 0;
    border-bottom: #cdcdcd 1px solid;
  }
}
@media (min-width: 1240px) {
  .card__item {
    width: 73.47%;
  }
}
.card img:not(.card__image--more) {
  margin: auto;
}
.card img:not(.card__image--more):nth-child(2n+1) {
  width: 68px;
  height: 86px;
}
@media (min-width: 708px) {
  .card img:not(.card__image--more):nth-child(2n+1) {
    width: 161px;
    height: 172px;
  }
}
.card img:not(.card__image--more):nth-child(2n) {
  width: 84px;
  height: 100px;
}
@media (min-width: 708px) {
  .card img:not(.card__image--more):nth-child(2n) {
    width: 168px;
    height: 200px;
  }
}
@media (min-width: 708px) {
  .card img:not(.card__image--more) {
    position: relative;
    top: -10%;
  }
}
.card--more .card__button {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background: #f2f2f2;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 708px) {
  .card--more .card__button {
    margin: 38px;
    width: 76.54%;
  }
}
@media (min-width: 1240px) {
  .card--more .card__button {
    width: 73.47%;
  }
}
.card--more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
}
@media (min-width: 708px) {
  .card--more {
    border: #f2f2f2 2px solid;
  }
}
.card--more .card__title {
  width: 100%;
  text-align: center;
  margin: 23px 0 8px 0;
}
@media (min-width: 708px) {
  .card--more .card__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #444444;
    width: 41.36%;
    margin: 0 0 23px 0;
  }
}
@media (min-width: 1240px) {
  .card--more .card__title {
    width: 54.69%;
  }
}
.card--more .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 21px;
}
@media (min-width: 708px) {
  .card--more .text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    width: 51.54%;
    text-align: center;
    margin-bottom: auto;
  }
}
@media (min-width: 1240px) {
  .card--more .text {
    width: 68.16%;
  }
}
@media (min-width: 708px) {
  .card--more img {
    margin: 52px 0 49px 0;
  }
}

.additional {
  width: 100%;
}
.additional__container {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin: 0 auto;
  padding-bottom: 35px;
}
@media (min-width: 708px) {
  .additional__container {
    width: 92%;
    padding-bottom: 76px;
  }
}
@media (min-width: 1240px) {
  .additional__container {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 86px;
  }
}
.additional__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: auto;
  padding: 25px 0 35px 5.625%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 708px) {
  .additional__title {
    padding-left: 0;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }
}
.additional__title::after {
  content: "";
  display: block;
  height: 2px;
  width: 16.5625%;
  background: #68b738;
}
@media (min-width: 708px) {
  .additional__title::after {
    width: 46.33%;
  }
}
@media (min-width: 1240px) {
  .additional__title::after {
    width: 66.25%;
  }
}
@media (min-width: 708px) {
  .additional__title::before {
    content: "";
    width: 4.24%;
    display: block;
    height: 2px;
    background: #68b738;
  }
}
@media (min-width: 1240px) {
  .additional__title::before {
    width: 4.86%;
  }
}
.additional .text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
.additional__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1240px) {
  .additional__list {
    width: 73.44%;
  }
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: #cdcdcd 1px solid;
  padding: 13px 0 19px 0;
}
@media (min-width: 708px) and (max-width: 1239px) {
  .product {
    border-left: #cdcdcd 1px solid;
    border-right: #cdcdcd 1px solid;
    margin: 0 auto;
    width: 90%;
    padding: 28px 3%;
    flex-wrap: wrap;
  }
}
@media (min-width: 708px) {
  .product {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.product__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 13px;
}
@media (min-width: 708px) {
  .product__title {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin: 0;
  }
}
.product:last-child {
  border-bottom: #cdcdcd 1px solid;
}
.product__text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
@media (min-width: 708px) {
  .product__text {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    width: 50%;
    text-align: end;
    justify-content: flex-end;
    margin: 0;
  }
}
@media (min-width: 1240px) {
  .product__text {
    text-align: start;
    justify-content: space-between;
    width: 288px;
    margin: 0 40px 0 auto;
  }
}
@media (min-width: 708px) {
  .product__text .text:last-child {
    margin-left: 55px;
  }
}
.product .button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 708px) {
  .product .button {
    width: 100%;
    margin-top: 25px;
  }
}
@media (min-width: 1240px) {
  .product .button {
    width: 244px;
    margin: 0;
  }
}

.gift {
  text-align: center;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-gift.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 289.88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
@media (min-width: 708px) and (max-width: 1239px) {
  .gift {
    width: 96%;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
  }
}
@media (min-width: 1240px) {
  .gift {
    width: 20.02%;
    height: 289px;
    margin: 0;
  }
}
.gift__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
@media (min-width: 708px) {
  .gift__text {
    width: 22.74%;
    text-align: start;
    margin-right: 17.51%;
  }
}
@media (min-width: 1240px) {
  .gift__text {
    width: 65.71%;
    text-align: center;
    margin: 0 auto;
  }
}
@media (min-width: 708px) and (max-width: 1239px) {
  .gift__icon {
    margin-left: 9.89%;
  }
}

.quests {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 27px;
}
@media (min-width: 708px) {
  .quests {
    width: 90%;
  }
}
@media (min-width: 1240px) {
  .quests {
    width: 85%;
  }
}
@media (min-width: 708px) {
  .quests {
    padding-top: 65px;
  }
}
@media (min-width: 1240px) {
  .quests {
    padding-top: 74px;
  }
}
.quests__text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 37px 0 39px 0;
}
@media (min-width: 708px) {
  .quests__text {
    margin: 54px 0 66px 0;
  }
}
@media (min-width: 1240px) {
  .quests__text {
    margin: 56px 0 66px 0;
  }
}

.form fieldset:not(.program) {
  border: none;
}
.form input {
  border: #e7e7e7 1px solid;
  border-radius: 0px;
}
.form legend {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.form label,
.form input::placeholder {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.personal {
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 708px) {
  .personal {
    padding-bottom: 71px;
  }
}
@media (min-width: 1240px) {
  .personal {
    padding-bottom: 69px;
  }
}
@media (min-width: 1240px) {
  .personal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.program {
  border: none;
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
}
@media (min-width: 708px) {
  .program {
    border: #d9d9d9 1px solid;
  }
}

.contact-details__title {
  margin-bottom: 35px;
}
@media (min-width: 708px) {
  .contact-details {
    margin-bottom: 76px;
  }
}
.contact-details__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1240px) {
  .contact-details__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.comment {
  padding: 23.57px 0 22.75px 0;
}
@media (min-width: 708px) {
  .comment {
    padding: 65px 0;
  }
}
@media (min-width: 1240px) {
  .comment {
    padding: 69px 0 67px 0;
  }
}

.more__title {
  margin-bottom: 34px;
}
@media (min-width: 708px) {
  .more__title {
    margin-bottom: 57px;
  }
}
.more__list {
  display: flex;
}
@media (min-width: 708px) {
  .more__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1240px) {
  .more__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.more__item:last-child {
  margin-bottom: 34px;
}
@media (min-width: 708px) {
  .more__item:last-child {
    margin-bottom: 54px;
  }
}
@media (min-width: 1240px) {
  .more__item:last-child {
    margin-bottom: 61px;
  }
}

.submit {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.submit__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
@media (min-width: 708px) {
  .submit {
    flex-direction: row;
  }
}
@media (min-width: 708px) {
  .submit {
    padding-bottom: 72px;
  }
}
@media (min-width: 1240px) {
  .submit {
    padding-bottom: 82px;
  }
}

.map {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.map--not-index {
  background: #f2f2f2;
}
@media (min-width: 1240px) {
  .map {
    align-items: flex-start;
  }
}
.map__container {
  width: 87.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 56px 0 62px 0;
}
@media (min-width: 1240px) {
  .map__container {
    position: absolute;
    background: #ffffff;
    width: 28.125%;
    padding: 56px 5.55%;
    margin-left: 7.64%;
  }
}
@media (min-width: 1240px) {
  .map {
    background: #f2f2f2;
  }
}
.map__text {
  width: 50%;
}
@media (min-width: 708px) {
  .map__text {
    width: 25.56%;
    text-align: end;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
}
@media (min-width: 1240px) {
  .map__text {
    width: 38.27%;
  }
}
.map__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  width: 50%;
}
@media (min-width: 708px) {
  .map__title {
    width: 24.27%;
  }
}
.map__image {
  width: 100%;
  order: 2;
}
@media (min-width: 708px) {
  .map__image {
    width: 0;
  }
}
.map iframe {
  height: 362px;
  width: 100%;
}
@media (min-width: 708px) {
  .map iframe {
    height: 400px;
  }
}

.contacts {
  padding: 39px 0 32px 0;
  width: 87.5%;
  margin: 0 auto;
}
@media (min-width: 708px) {
  .contacts {
    width: 90%;
    padding: 58px 0 55px 0;
  }
}
@media (min-width: 1240px) {
  .contacts {
    padding: 57px 0 58px 0;
  }
}
.contacts__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #444444;
}
.contacts__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 708px) {
  .contacts__list {
    flex-direction: row;
  }
}
.contacts__item {
  width: 87.5%;
  border-bottom: #d9d9d9 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 708px) {
  .contacts__item {
    border: none;
  }
}
.contacts__item:first-child svg {
  margin-bottom: 32px;
}
@media (min-width: 708px) {
  .contacts__item:first-child svg {
    margin: 0;
  }
}
.contacts__item:last-child {
  border: none;
}
.contacts__academy {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 708px) {
  .contacts__academy {
    width: 80%;
    align-items: center;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.4px;
    color: #444444;
  }
}
@media (min-width: 1240px) {
  .contacts__academy {
    width: 50%;
  }
}
.contacts__links {
  padding: 20px 0;
  width: 40.625%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 708px) {
  .contacts__links {
    width: 60%;
    padding: 0;
    justify-content: space-between;
  }
}
@media (min-width: 1240px) {
  .contacts__links {
    width: 50%;
  }
}
@media (min-width: 708px) {
  .contacts {
    width: 90%;
  }
}
@media (min-width: 1240px) {
  .contacts {
    width: 85%;
  }
}

.page-footer {
  background: #f2f2f2;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */