@import "variables";
.cards {
    width: 100%;
    &__list {
        @media (min-width: $desktopWidth) {
            margin: 20px auto;
            width: $desktopPercent;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0;
        }
    }
}
