@import "mixin";
@import "variables";
.example {
    width: 100%;
    background: $baseGrey;
    &__description {
        @include font(0, 0, 14px, 14px, 0);
        text-transform: uppercase;
    }
    &__container {
        width: $mobilePercent;
        margin: 0 auto;
        @media (min-width: $tabletWidth) and (max-width: ($desktopWidth - 1px)) {
            width: $tabletPercent;
        }
        @media (min-width: $desktopWidth) {
            width: $desktopPercent;
        }
    }
}
