@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"),
        url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-display: swap;

    src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"),
        url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: local("Arial"), url("../fonts/Arial.woff2") format("woff2"),
        url("../fonts/Arial.woff") format("woff");
}
