@import "variables";
@import "mixin";
.item-list {
    background: $baseGrey;
    &__title {
        @include font(0, 0, 36px, 36px, 0);
        text-transform: uppercase;
    }
    &__link {
        @include font(0, 0, 20px, 30px, 0);
        text-decoration: none;
        text-transform: uppercase;
        &::after {
            content: url("../img/icon_arrow.svg");
        }
    }
}
