@import "variables";
.item-list {
    background: $baseGrey;
    &__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
        text-transform: uppercase;
    }
    &__link {
        font-size: 20px;
        line-height: 30px;
        color: $baseBlack;
        text-decoration: none;
        text-transform: uppercase;
        &::after {
            content: url("../img/icon_arrow.svg");
        }
    }
}
