@import "variables";
@mixin font($family, $weight, $size, $lh, $color) {
    @if ($family==0) {
        font-family: "Oswald";
    } @else {
        font-family: "Arial", sans-serif;
    }
    @if ($weight==0) {
        font-weight: 400;
    } @else {
        font-weight: $weight;
    }
    font-size: $size;
    line-height: $lh;
    @if ($color==0) {
        color: $baseBlack;
    } @else {
        color: $color;
    }
}
@mixin pageBorder {
    border: $borderColor 1px solid;
    border-radius: 0px;
}
@mixin titleBorder {
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 16.5625%;
        background: $baseGreen;
        @media (min-width: $tabletWidth) {
            width: 46.33%;
        }
        @media (min-width: $desktopWidth) {
            width: 66.25%;
        }
    }
    &::before {
        @media (min-width: $tabletWidth) {
            content: "";
            width: 4.24%;
            display: block;
            height: 2px;
            background: $baseGreen;
        }
        @media (min-width: $desktopWidth) {
            width: 4.86%;
        }
    }
}
