$baseBlack: #000000;
$baseWhite: #ffffff;
$baseGreen: #68b738;
$baseGrey: #f2f2f2;
$specialDark: #444444;
$specialGrey: #cdcdcd;
$borderColor: #e7e7e7;
$borderColor2: #e6e6e6;
$borderColor3: #d9d9d9;
$tabletWidth: 768px;
$desktopWidth: 1220px;
$mobilePercent: (280/320) * 100%;
$tabletPercent: 90%;
$desktopPercent: 85%;
